<main>
    <div class="row">
                {{!-- <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s6"><a href="#accepted"> Friends </a></li>
                        <li class="tab col s6"><a href="#pending"> Pending </a></li>
                    </ul>
                </div> --}}
                <div id="accepted" class="container">
                    {{#each friend}}
            
                        {{#friends}}
                    <li>
                        <div class="columns">
                            <div class="column is-8 is-offset-1">
                                <span class="title">{{this.name}}</span>
                                <p>Friend ID: {{this.id}}</p>
                                <p>Status: {{this.status}}</p>
                            </div>
                            <div class="column">
                                <button class="button is-link is-focused" id="deleteFriend">Delete Friend</button>
                            </div>
                        </div>
                    </li>
                    {{/friends}}
                    
                        {{else}}
                    <div class="row">
                        <div class="column is-10 is-offset-1">
                            <h4 class="title is-4"> You have no Friends! Let's add some! </h4>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="row">
                <div class="column is-10 is-offset-1">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</main>