 <main> 
     <div class="container">
            <form id="signup-form" class="box">
                <h1 class="title is-1">Sign up today!</h1>

                <div class="form-floating mb-3">
                    <label for="username-signup">Username</label>
                    <input type="text" class="form-control" id="username-signup" placeholder="Doe246" autofocus="true">
                </div>
                <div class="form-floating mb-3">
                    <label for="password-signup">Password</label>
                    <input type="password" class="form-control" id="password-signup" placeholder="Password"
                        autofocus="true">
                </div>

                <div class="center">
                    <button class="button is-link is-focused" type="submit">Sign up</button>
                </div>
                <div class="right">
                    <a class="login-link" href="/login">Log in instead</a>
                </div>
            </form>
        </div>
</main>
